<div align="center" class="container w-50 bg-dark text-white">
  <div *ngIf="isEmptyCart(); else elseBlock">you cart is empty</div>
  <ng-template #elseBlock>
    There is/are {{ getTotalQuantity() }} items in your cart for total price of {{ getTotalAmount() }} UAH
    <div *ngFor="let curItem of cart; trackBy: trackByItems">
      <app-cart-item [item]="curItem"
                     (incrementItem)="onPlusItem($event)"
                     (decrementItem)="onMinusItem($event)"
                     (removeItem)="onRemoveItem($event)">
      </app-cart-item>
    </div>    
  </ng-template>
</div>