<div class="row" [ngClass]="{'text-muted': !product.isAvailable}">
  <div class="col-6">
    <h5><a routerLink="/product-list/product/{{product.id}}">{{product.name}}</a></h5>
    <p>{{product.description}}</p>
  </div>
  <div class="col-3">{{ product.category | uppercase }}</div>
  <div appZoom="x-large" class="col-2">{{product.price | currency:'UAH':'':'1.2-2':'uk-UA' }}</div>
  <div class="col-1">
    <button [class]="product.isAvailable ? 'btn btn-primary' : 'btn btn-secondary'"
            [disabled]="product.isAvailable ? null : 'disabled'"
            (click)="onBuy()">
        Buy
    </button>
  </div>
</div>
